.landing{
    width: 80%;
    background-color: rebeccapurple;
}

@media (max-width: 799px){
    .heading{
        font-size: 50px;
        font-weight: 900;
        display: none;
    }

    .paragraphs{
        font-size: 16px;
    
    }
}

@media (min-width: 799px) {
    .heading{
        font-size: 50px;
        font-weight: 900;
    }
    
    .paragraphs{
        font-size: 20px;
        margin-top: 25px;
        /* background-color: red; */
    }
}